// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Ubuntu", sans-serif;
  --content-width: 1230px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --gray-color: #424551;
  --storm-color:  #1E212C;
  --primary-color: #FF5A30;

}
