// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";

@import "./components/nav";
@import "./components/header-contacts";

// тестовые стили, удалите их
.page__body {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // margin: 0;
  // height: var(--vh);
  color: var(--gray-color);
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
